<div class="container navbars">
    <nav class="navbar">
        <img class="mainlogo" src="/IMG/mainlogo.png" alt="logo">
           
        <ul class="navlinks" id="navlink">
            <li><a href="/">Home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/features">features</a></li>
            <li><a href="/freetrial">free Trail</a></li>
            <li><a href="pricing">Pricing</a></li>


            <div class="logBtn">
            <a href="/signup"><button class="btn demologin_btn">Demo Login</button></a>
            <a href="/login"><button class="btn login_btn">Login</button></a>           
        </div>
        </ul>

         <img class="menubar" id="menu" src="/IMG/menu.png" alt="">  
         
    </nav>
</div>

