<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>addneworg</title>
    <link rel="stylesheet" href="/CSS/signup.css" />
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>

    <style>
        p{
            color : #34BA82;
            font-size: 19px;
        }
    </style>


    <form action="/addneworg" method="post" class="signup">
      <h3 class="heading">Add New Organisation </h3>
      <p>Step 1 of 3</p>
      <input type="text" name="companyName" id="" placeholder="Company Name"/>
      <input type="text" name="displayName" id="" placeholder="Display Name"/>
      <button class="btn_signup">Next:Accounting Details</button>
      <p>{{message}}</p>
      </form>
        
      
  </body>
</html>