<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Home</title>
    <link rel="stylesheet" href="/CSS/organizationnavlinks.css">
</head>
<body>
    <nav class="organization_navbar">
        <h3>logo</h3>
        <ul class="organization_navlinks">            
            <li><a href="/addneworg">Add New Organization</a></li>
            <img src="/IMG/kalpa50.png" alt="">
        </ul>
    </nav>
</body>
</html>