<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/CSS/signup.css" />
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>

    {{>navbar}}

    <form action="/login" method="post" class="signup">
      <h3 class="heading">Login</h3>
      <p class="msg">{{message}}</p>
      <input type="email" name="email" id="" placeholder="Enter your Email"/>
      <input type="password" name="password" id="" placeholder="Enter your Password"/> 
      <button class="btn_signup">Login</button>
       <h4>Need an Account ? <a href="/signup">Sign Up</a></h4>

    </form>



    <script src="/JS/navbar.js"></script>
  </body>
</html>