<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>organization details</title>
    <link rel="stylesheet" href="/CSS/signup.css" />
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>

    <style>
        p{
            color : #34BA82;
            font-size: 19px;
        }
    </style>


    <form action="/orglastpage" method="post" class="signup">
      <h3 class="heading">Accounting Details</h3>
      <p>Step 3 of 3</p>
      <input type="number" name="phone" id="" placeholder="Phone number">
      <input type="email" name="email" id="" placeholder="Email Id">
      <input type="text" name="website" id="" placeholder="Website">
      <button class="btn_signup">Send Request</button>
      <p>{{message}}</p>
      <p>{{successmsg}}</p>
      </form>
        
      
  </body>
</html>