@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.heading{
    color: #34BA82;
    font-size: 44px;
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
    gap: 2rem;
    text-align: center;

}



.signup input{
    padding: 16px 86px;
    border: 1px solid #34BA82;
    outline: none;
    color: #34BA82;
}
.signup input::placeholder{
    color: var(#011A41);
   
}
::placeholder{
    color: #34BA82;
}

.signup input:focus{
    color: #34BA82;
}

.btn_signup{
    padding: 23px 85px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #34BA82;
    color: white;
}

.msg{
    color: red;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;

}

/* this is for error disply show */
.emailMsg{
    color: red;
    font-size: 19px;
  }